:root {
  --text-color: #757575;
  --main-color: #ffffff;
  --title-color: #212121;
  --secondary-color: #2f303a;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
}

/* межбуквенное расстояние:
навигация - 0,02 em
секция героя, заголовки портфолио - 0,06 em
логотип, контент обеих страниц, подвал - 0,03 em
 */

body {
  color: var(--text-color);
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* header li,
.list-button li,
.features li,
.our-team li,
.gallery li */

li {
  list-style: none;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.text-hero,
.logo-footer,
.address-footer,
.links-footer a {
  color: var(--main-color);
}

.section-hero,
.section-footer {
  background-color: var(--secondary-color);
}

.accent-text,
.current-link {
  color: var(--accent-color);
}

.text-nav a,
.title-text {
  color: var(--title-color);
}

.links-header a {
  color: var(--text-color);
}

.text-nav a:hover,
.text-nav a:focus,
.links-header a:hover,
.links-header a:focus,
.current-link:visited {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

main button,
.button-hero {
  border: none;
  border-radius: 4px;
}

.button-hero {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  color: var(--title-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.text-nav a,
.links-header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.text-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features .title-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p,
.address-footer,
.links-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.our-work,
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
}

.our-team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}
